.text{
   color:#171b20;
   font-size: 3rem;
   letter-spacing: .2rem;
   text-decoration: underline;
   text-transform: uppercase;
   transition: all .5sn ease-in-out;
   font-family:Rubik Distressed,cursive ;
   opacity: .5;
   text-shadow: 2px 2px 10px #cd890c ;
   cursor: pointer;
   color:rgb(23, 27, 32) ;
   margin-top: 2rem;
   
}